body {
  background-color: #E8E8E8 !important;
}
a {
  text-decoration: none;
}
header {
  width: 100vw;
}
header a {
  font-size: 18px;
  color: black;
  cursor: pointer;
}
header a:hover {
  text-decoration: none;
  color: black;
}
header nav {
  background: #fff;
  height: 50px;
  width: 100vw;
  padding: 0.7rem 1rem;
  z-index: 1;
}
header .nav_bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #fff;
  height: 60vh;
  width: 30%;
  display: none;
}
header .nav_bar .mg {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  height: 60vh;
}
header .nav_bar .t-menu {
  width: 100%;
  align-items: center;
  justify-content: center;
}
header .nav_bar .t-menu h1 {
  margin-left: 2rem;
}
header .nav_bar .t-menu a {
  font-size: 25px;
  margin-left: auto;
  margin-right: 1.2rem;
}
header ul {
  list-style: none;
}
header ul a {
  text-decoration: none;
  font-weight: bold;
}
.sld {
  display: block !important;
  animation-name: slidein;
  animation-duration: 1s;
  transform: translateX(70vw);
}
@keyframes slidein {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(70vw);
  }
}
#ss1 img {
  width: 100%;
  max-height: 316px;
}
#ss1 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#ss1 .content h1 {
  font-size: 22px;
  font-weight: bold;
}
#ss1 .content .texto {
  height: 148px;
  overflow-y: hidden;
}
#ss1 .content small {
  font-size: 18px;
  font-weight: bold;
  color: darkblue;
}
